# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
.ipynb_checkpoints/

# Data files (VERY IMPORTANT)
*.csv
*.xlsx
*.zip

# Artifacts & outputs
artifacts/
uploads/
static/uploads/

# Models (optional – remove if you want to push models)
models/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
